body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(247, 247, 247);
}

/* background-color: rgb(247, 247, 247); */

.header {
    background-color: #212529;
    height: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__text {
    font-size: 2.5em;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 10em);
}

.container__form {
    display: flex;
    justify-content: center;
    border: 1px solid #ced4da;
    border-radius: 10px;
    width: 85%;
    background: white;
}

.container__box {
    width: 90%;
    margin: 1.56em 1.56em;
}

.container__titulo {
    margin-bottom: 1em;
    font-size: 2.2em;
}

.container__titulo::after {
    content: "";
    background-color: #343a40;
    display: block;
    height: 3px;
    width: 10%;
}

.form_label {
    display: none;
}

.form_input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.25em;
    margin: 0 0 2em 0;
    height: 5em;
    border-radius: 0.625em;
    border: 1px solid #ced4da;
    font-size: 0.625em;
    box-sizing: border-box;
}

.form_input::placeholder {
    font-size: 1.5em;
}

.box_botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao {
    background-color: #343a40;
    color: white;
    font-size: 1.25em;
    border-radius: 0.25em;
    cursor: pointer;
    border: 0;
    height: 50px;
    width: 50%;
}

.botao:hover {
    background-color: #212529;
}

.botao_link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.625em;
}

.assinatura {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    color: #6c757d;
}