body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(247, 247, 247);
}

/*Set the form box as a global config*/

.box_botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao {
    background-color: #343a40;
    color: white;
    font-size: 1.25em;
    border-radius: 0.25em;
    cursor: pointer;
    border: 0;
    height: 50px;
    width: 50%;
}

.botao:hover {
    background-color: #212529;
}

.botao_link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.625em;
}