<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Fazer Login - Agenda Digital</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/reset.css">
    </head>
    <body>
      <header class="header">
        <a href="#" class="header__text">Agenda Online</a>
      </header>
      <main class="container container-adjust">
        <section class="container__form">
            <form class="container__box" action="" method="post">
                <h1 class="container__titulo">Entrar</h1>
                <div>
                  <label class="form_label" for="exampleInputEmail">Email</label>
                  <input type="email" class="form_input" id="exampleInputEmail" placeholder="Seu email" name="email">
                </div>
                <div>
                  <label class="form_label"for="exampleInputPassword">Senha</label>
                  <input type="password" class="form_input" id="exampleInputPassword" placeholder="Senha" name="senha">
                </div>
                <div class="box_botao">
                  <button type="submit" class="botao">Login</button>
                  <a href="tela_Registro.html" class="botao botao_link">Cadastrar</a>
                </div>
                <p class="assinatura">© 2022 - DW Tecnologia.</p>
            </form>
          </section>
        </main>
    </body>
</html>