<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Contatos cadastrados</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/estilos.css">
<link rel="stylesheet" href="css/reset.css">

</head>
<body>
    <header class="header">
        <a href="#" class="header__text">Agenda Online</a>
    </header>
    <main class="container">
        <section class="container__form">
            <h1>CONTATOS</h1>

	    <a href="tela_Cadastro.html" type="button" class="">Adicionar</a>

	    <ul class="">

		    <li class="">
			    <a class="" href="" role="button">Editar</a>
			    <a class="" href="" role="button">Ver Endereços</a>
			    <a class="" href="" role="button">Remover</a>
		    </li>
	    </ul>
        </section>
    </main>
</body>
</html>