<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Cadastro de endereço</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/estilos__.css">
        <link rel="stylesheet" href="css/reset.css">
    </head>
    <body>
        <header class="header">
            <a href="#" class="header__text">Agenda Online</a>
          </header>
          <main class="container">
            <section class="container__form">
                <form class="container__box" action="" method="get">
                   <h1 class="container__titulo">Alterar</h1>
                    <h2 class="container__subtitulo">Dados endereço</h2>
            
                    <div class="">	
                      <label class="form_label" for="">Rua</label>
                      <input type="text" class="form_input" placeholder="Nome da rua" name="rua" required>
                    </div>
            
                    <div class="">
                      <label class="form_label" for="">Número</label>
                      <input type="text" class="form_input" placeholder="Número" name="numero" required>
                    </div>
            
                    <div class="">
                      <label class="form_label" for="">Complemento</label>
                      <input type="text" class="form_input" placeholder="Complemento" name="complemento" required>
                    </div>
            
                    <div class="">
                      <label class="form_label" for="">Bairro</label>
                      <input type="text" class="form_input" placeholder="Bairro" name="bairro" required>
                    </div>
            
                    <div class="">
                      <label class="form_label" for="">CEP</label>
                      <input type="text" class="form_input" placeholder="CEP" name="cep" required>
                    </div>
            
                    <div class="">
                      <label class="form_label" for="">Cidade</label>
                      <input type="text" class="form_input" placeholder="Cidade" name="cidade" required>
                    </div>
            
                    <div class="">
                      <label class="form_label" for="">Estado</label>
                      <input type="text" class="form_input" placeholder="Estado" name="estado" required>
                    </div>
                    <div class="box_botao">
                        <button type="submit" class="botao">Adicionar</button>
                    </div>
                 </form>
            </section>
          </main>
    </body>
</html>