<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Registro de usuário</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/reset.css">
    </head>
    <body>
      <header class="header">
        <a href="#" class="header__text">Agenda Online</a>
      </header>
      <main class="container">
        <section class="container__form">
          <form class="container__box" action="" method="post">
            <h1 class="container__titulo">Registrar</h1>
            <div>
              <label class="form_label" for="exampleInputEmail1">Nome</label>
              <input type="text" class="form_input" placeholder="Digite seu nome" name="nome">
            </div>
  
            <div>
              <label class="form_label" for="exampleInputEmail1">Email</label>
              <input type="email" class="form_input" id="exampleInputEmail1" placeholder="Digite seu email" name="email">
            </div>
            <div>
              <label class="form_label" for="exampleInputPassword1">Senha</label>
              <input type="password" class="form_input" id="exampleInputPassword1" placeholder="Digite sua senha" name="senha">
            </div>
            <div class="box_botao">
              <button type="submit" class="botao">Registrar</button>
              <a href="tela_Login.html" class="botao botao_link">Voltar</a>
            </div>
            <p class="assinatura">© 2022 - DW Tecnologia.</p>
          </form>
        </section>
      </main>
    </body>
</html>